<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>Mhrk8v3JajQYsb1dUuwI6aa1D</string>
	<key>consumer_Secret</key>
	<string>f2rMFPQSPcYSHQfNUt2uBPxsQbk2inFLCVnlHWVKDese51iWoO</string> <!-- No, it's not what you are thinking -->
</dict>
</plist>
